<!DOCTYPE html>
<html lang="en">
<head>
	<title>RanTech</title>
	<!-- css files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

	<link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
	<meta name="author" content="Ran Xiao">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<body>
		<!-- Navbar -->
		<nav class="nav container void-background">
			<!-- This "nav-menu" is hidden on mobile -->
			<!-- Add the modifier "is-active" to display it on mobile -->
			<div class="nav-left">
				<a href="/indev/" class="nav-item">
					<span class="icon">
						<i class="fa fa-medium"></i>
					</span>
				</a>
				<a href="https://github.com/xiaoran007" class="nav-item">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
				</a>
				<a href="/indev/" class="nav-item">
					<span class="icon">
						<i class="fa fa-twitter"></i>
					</span>
				</a>				
			</div>

			<div class="nav-right nav-menu">
				<a class="nav-item" href="#about">About</a>
				<a class="nav-item" href="#projects">Search</a>
				<a class="nav-item" href="#social">WT Reverse Data</a>
			</div>

			<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
			<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</nav>
				
		<!-- About Me -->
		<section id="about" class="section section-1">
			<div class="container has-text-centered">
				<!-- Source: https://flic.kr/p/pAZBNK -->
				<img class="avatar" src="../static/img/profile1.jpg">
			</div>
			<div class="container"></br>
                <h3 align="center" id="title3">Xiao Ran</h3>
				<p class="intro" align="center" id="intro1">
					后面暂时先空着
				</p>
			</div>
		</section>
		
		<!-- Projects -->
		<section  id="projects" class="section section-2">
			<div class="container">
				<div class="has-text-centered">
					<h3 class="title is-3">Search / 查询</h3>
				</div>
				
				<div class="columns is-multiline is-desktop">
					<!-- Project 1 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
                                        <a target="_blank" href="/search/"><img class="" src="../static/img/aviation.jpg" alt="Image"></a>
									</figure>
								</div>
								<div>			
									<p align="center">
										Go to search aviation information and emu/num info. <br>
                                        检索航空器注册/动车组交路及配属资料
                                        <br><br>
									</p>
								</div>
							</article>
						</div>
					</div>
					<!-- Project 2 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
                                        <a target="_blank" href="/rocket/"><img class="" src="../static/img/rocket.jpg" alt="Image"></a>
									</figure>
								</div>
								<div>			
									<p align="center">
										Rocket Launch Forecast <br>
                                        火箭发射预告
                                        <br><br>
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Social -->
		<section id="social" class="section section-3">
			<div class="container">
				<div class="has-text-centered">					
					<h3 class="title is-3">WT Reverse Data / WT逆向数据</h3>
				</div>
				<div class="social-container columns">
					<div class="column is-6 has-text-centered">
						<a target="_blank" href="https://github.com/gszabi99/War-Thunder-Datamine"><img class="" src="../static/img/GitHub-Mark.png"></a>
                        <p align="center">
                            Data Sources <br> 数据源
                        </p>
					</div>
					<div class="column is-6 has-text-centered">
						<a target="_blank" href="/indev/"><img class="" src="../static/img/datavisual.jpg"></a>
                        <p align="center">
                            Data Visualization <br> 数据可视化
                        </p>
					</div>
				</div>
			</div>
		</section>	
		
		<!-- Footer -->
		<section class="section-4 has-text-centered container">
			<a href="http://www.hassanali.me/about">Template From Hassan Ali</a>
		</section>
		
		<!-- Scripts  -->
		<script src="../static/js/controller.js"></script>
	</body>	
</html>